[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich-click = "==1.2.1"
securesystemslib = "==0.25.0"
cryptography = "==36.0.2"
cffi = "==1.15.0"
click = "==8.0.4"
commonmark = "==0.9.1"
pycparser = "==2.21"
rich = "==12.0.1"
PyNaCl = "==1.5.0"
Pygments = "==2.13"
requests = "*"
types-requests = "*"
tuf = "==2.0.0"
crypto = "*"
dynaconf = {extras = ["ini"], version = "*"}

[dev-packages]
black = "==22.3.0"
isort = "*"
flake8 = "*"
tox = "*"
pytest = "*"
coverage = "*"
mypy = "*"
pip = "*"
pretend = "*"
sphinx = "*"
sphinxcontrib-applehelp = "*"
sphinxcontrib-devhelp = "*"
sphinxcontrib-htmlhelp = "*"
sphinxcontrib-jsmath = "*"
sphinxcontrib-qthelp = "*"
sphinxcontrib-serializinghtml = "*"
sphinxcontrib-plantuml = "*"
sphinx-rtd-theme = "*"
hatchling = "==0.22.0"
build = "*"

[requires]
python_version = "3.10"
