[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich-click = "*"
securesystemslib = {extras = ["crypto"], version = "==0.28.0"}
click = "*"
rich = "*"
auto-click-auto = "*"
PyNaCl = "==1.5.0"
requests = "*"
tuf = "==3.0.0"
dynaconf = {extras = ["ini"], version = "*"}
isort = "*"
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
tox = "*"
pytest = "*"
coverage = "*"
mypy = "*"
pip = "*"
pretend = "*"
sphinx = "*"
sphinxcontrib-applehelp = "*"
sphinxcontrib-devhelp = "*"
sphinxcontrib-htmlhelp = "*"
sphinxcontrib-jsmath = "*"
sphinxcontrib-qthelp = "*"
sphinxcontrib-serializinghtml = "*"
sphinxcontrib-plantuml = "*"
sphinx-rtd-theme = "*"
hatchling = "==0.22.0"
build = "*"
pre-commit = "*"
bandit = "*"
types-requests = "*"

[requires]
python_version = "3.9"
