name: Tests and Lint

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-versions: [ "3.9", "3.10", "3.11", "3.12" ]

    steps:
    - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b
    - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d
      with:
        python-version: ${{ matrix.python-versions }}

    - name: Install tox and coverage
      run: pip install tox tox-gh-actions build

    - name: Install build dependency
      run: python3 -m pip install --upgrade pip build

    - name: Test Build binary wheel and source tarball
      run: python3 -m build --sdist --wheel --outdir dist/ .

    - name: Restore mypy cache
      id: cache-mypy-restore
      uses: actions/cache/restore@v4
      with:
        path: |
          .mypy_cache
        key: ${{ runner.os }}-py${{ matrix.python-versions }}-mypy-${{ hashFiles('**/.mypy_cache') }}

    - name: Run Python tests
      run: |
        make tests

    - name: Save mypy cache
      id: cache-mypy-save
      uses: actions/cache/save@v4
      with:
        path: |
          .mypy_cache
        key: ${{ runner.os }}-py${{ matrix.python-versions }}-mypy-${{ hashFiles('**/.mypy_cache') }}

    - name: Codecov
      uses: codecov/codecov-action@84508663e988701840491b86de86b666e8a86bed
      with:
        files: coverage.xml
        fail_ci_if_error: false
        verbose: true