name: Tests and Lint

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-versions: [ "3.9", "3.10", ]

    steps:
    - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
    - uses: actions/setup-python@2c3dd9e7e29afd70cc0950079bde6c979d1f69f9
      with:
        python-version: ${{ matrix.python-versions }}

    - name: Install tox and coverage
      run: pip install tox tox-gh-actions build

    - name: Install build dependency
      run: python3 -m pip install --upgrade pip build

    - name: Test Build binary wheel and source tarball
      run: python3 -m build --sdist --wheel --outdir dist/ .

    - name: Run Python tests
      run: make tests

    - name: Codecov
      uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70
      with:
        files: coverage.xml
        fail_ci_if_error: false
        verbose: true