name: Tests and Lint

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-versions: [ "3.10", "3.11", "3.12" ]

    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
    - uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f
      with:
        python-version: ${{ matrix.python-versions }}

    - name: Install tox and coverage
      run: pip install tox tox-gh-actions build

    - name: Install build dependency
      run: python3 -m pip install --upgrade pip build

    - name: Test Build binary wheel and source tarball
      run: python3 -m build --sdist --wheel --outdir dist/ .

    - name: Restore mypy cache
      id: cache-mypy-restore
      uses: actions/cache/restore@v4
      with:
        path: |
          .mypy_cache
        key: ${{ runner.os }}-py${{ matrix.python-versions }}-mypy-${{ hashFiles('**/.mypy_cache') }}

    - name: Run Python tests
      run: |
        make tests

    - name: Save mypy cache
      id: cache-mypy-save
      uses: actions/cache/save@v4
      with:
        path: |
          .mypy_cache
        key: ${{ runner.os }}-py${{ matrix.python-versions }}-mypy-${{ hashFiles('**/.mypy_cache') }}

    - name: Codecov
      uses: codecov/codecov-action@e28ff129e5465c2c0dcc6f003fc735cb6ae0c673
      with:
        files: coverage.xml
        fail_ci_if_error: false
        verbose: true