name: Functional Tests

on:
  workflow_dispatch:
    inputs:
      docker_compose:
        description: "Docker Compose File"
        default: "docker-compose.yml"
        type: string
        required: False
      umbrella_branch:
        description: "Umbrella Branch (Functional Tests)"
        default: "main"
        type: string
        required: False
      api_version:
        description: "API Version"
        default: "latest"
        type: string
        required: False
      worker_version:
        description: "Worker Version"
        default: "latest"
        type: string
        required: False

  workflow_call:
    inputs:
      docker_compose:
        description: "Docker Compose File"
        default: "docker-compose.yml"
        type: string
        required: False
      umbrella_branch:
        description: "Umbrella Branch (Functional Tests)"
        default: "main"
        type: string
        required: False
      api_version:
        description: "API Version"
        default: "latest"
        type: string
        required: False
      worker_version:
        description: "Worker Version"
        default: "latest"
        type: string
        required: False

jobs:
  functional-das:
    name: "DAS"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pytest-group: [ "1", "2", "3"]

    steps:
      - name: Checkout RSTUF CLI source code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Checkout RSTUF Umbrella (FT)
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
        with:
            repository: repository-service-tuf/repository-service-tuf
            path: rstuf-umbrella
            ref: ${{ inputs.umbrella_branch }}

      - name: Deploy RSTUF
        uses: isbang/compose-action@e5813a5909aca4ae36058edae58f6e52b9c971f8
        with:
          compose-file: ${{ inputs.docker_compose }}
        env:
          API_VERSION: ${{ inputs.api_version }}
          WORKER_VERSION: ${{ inputs.worker_version }}

      - name: Bootstrap/Setup RSTUF DAS and run Functional Tests
        run: |
          make ft-das CLI_VERSION=source PYTEST_GROUP=${{ matrix.pytest-group }}

  functional-das-slow:
    name: "DAS Slow"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout RSTUF CLI source code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Checkout RSTUF Umbrella (FT)
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
        with:
            repository: repository-service-tuf/repository-service-tuf
            path: rstuf-umbrella
            ref: ${{ inputs.umbrella_branch }}

      - name: Deploy RSTUF
        uses: isbang/compose-action@e5813a5909aca4ae36058edae58f6e52b9c971f8
        with:
          compose-file: ${{ inputs.docker_compose }}
        env:
          API_VERSION: ${{ inputs.api_version }}
          WORKER_VERSION: ${{ inputs.worker_version }}

      - name: Bootstrap/Setup RSTUF DAS and run Functional Tests
        run: |
          make ft-das CLI_VERSION=source PYTEST_GROUP=none SLOW="yes"

  functional-signed:
    name: "Signed"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pytest-group: [ "1", "2", "3"]

    steps:
      - name: Checkout RSTUF CLI source code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Checkout RSTUF Umbrella (FT)
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
        with:
          repository: repository-service-tuf/repository-service-tuf
          path: rstuf-umbrella
          ref: ${{ inputs.umbrella_branch }}

      - name: Deploy RSTUF
        uses: isbang/compose-action@e5813a5909aca4ae36058edae58f6e52b9c971f8
        with:
          compose-file: ${{ inputs.docker_compose }}
        env:
          API_VERSION: ${{ inputs.api_version }}
          WORKER_VERSION: ${{ inputs.worker_version }}

      - name: Bootstrap/Setup RSTUF full Signed and run Functional Tests
        run: |
          make ft-signed CLI_VERSION=source PYTEST_GROUP=${{ matrix.pytest-group }}

  functional-signed-slow:
    name: "Signed Slow"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout RSTUF CLI source code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Checkout RSTUF Umbrella (FT)
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
        with:
          repository: repository-service-tuf/repository-service-tuf
          path: rstuf-umbrella
          ref: ${{ inputs.umbrella_branch }}

      - name: Deploy RSTUF
        uses: isbang/compose-action@e5813a5909aca4ae36058edae58f6e52b9c971f8
        with:
          compose-file: ${{ inputs.docker_compose }}
        env:
          API_VERSION: ${{ inputs.api_version }}
          WORKER_VERSION: ${{ inputs.worker_version }}

      - name: Bootstrap/Setup RSTUF full Signed and run Functional Tests
        run: |
          make ft-signed CLI_VERSION=source PYTEST_GROUP=none SLOW="yes"