name: Update Python dependencies
on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *"
jobs:
  update-dep:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-versions: [ "3.12" ]
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3
        with:
          python-version: ${{ matrix.python-versions }}
      - name: Install prerequisites
        run: |
          pip install tox pipenv
      - name: Update dependencies
        run: |
          pipenv update -d
          make requirements
      - name: Run tests
        run: |
          make tests
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@6cd32fd93684475c31847837f87bb135d40a2b79
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "build: Update Python dependencies"
          branch: "rstuf-bot/update-python-dependencies"
          delete-branch: true
          title: "build: Update Python dependencies"
          body: >
            The following PR updates the Python dependencies and generates new pipfile and requirements file.
          labels: report, automated pr, python
