name: Update pre-commit hooks
on:
  workflow_dispatch:
  schedule:
    # Run at 8:00 AM every day
    - cron: "0 8 * * *"
jobs:
  update-pre-commit-hooks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c
        with:
          python-version: "3.11"
      - name: Install prerequisites
        run: |
          pip install pre-commit tox
      - name: Update pre-commit hooks
        run: |
          pre-commit autoupdate
      - name: Check for pre-commit config file changes
        id: git_diff
        run: |
          echo "GIT_DIFF=$(git diff --exit-code 1> /dev/null; echo $?)" >> $GITHUB_OUTPUT
      - name: Run tests
        if: steps.git_diff.outputs.GIT_DIFF == 1
        # We want to make sure that the new updates do not affect the code
        run: |
          make tests
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@70a41aba780001da0a30141984ae2a0c95d8704e
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "build: Update pre-commit hooks"
          branch: "rstuf-bot/update-pre-commit-hooks"
          delete-branch: true
          title: "build: Update pre-commit hooks"
          body: >
            The following PR updates the pre-commit hooks (`.pre-commit-config.yaml` file) using `pre-commit autoupdate`.
          labels: report, automated pr, pre-commit
