name: Update Python dependencies
on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *"
jobs:
  update-dep:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-versions: [ "3.9" ]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d
        with:
          python-version: ${{ matrix.python-versions }}
      - name: Install prerequisites
        run: |
          pip install tox pipenv
      - name: Update dependencies
        run: |
          pipenv update -d
          make requirements
      - name: Run tests
        run: |
          make tests
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c55203cfde3e5c11a452d352b4393e68b85b4533
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "build: Update Python dependencies"
          branch: "rstuf-bot/update-python-dependencies"
          delete-branch: true
          title: "build: Update Python dependencies"
          body: >
            The following PR updates the Python dependencies and generates new pipfile and requirements file.
          labels: report, automated pr, python
